.main-container{
    display: flex;

}
.leftside-container{
    flex:1;
    background-color: black;
    color: white;
    padding:5%;
    margin-left:5%;




}
.education h3{
    margin-bottom: -3%;
}
.inside-education p{
    margin-top: -5%;
}

.reference h3{
    margin-bottom: -3%;
}
.inside-reference p{
    margin-top: -5%;
}
.contact-details{
    

}
.yellowbar{
    
    background-color: rgb(230, 230, 36);
    width:5px;
    height : 5px;
}
.inside-contact{
    flex : 3;
}
.inside-contact p{
    
    margin-top: -3%;

}
.inside-contact h4{
    margin-top: -3%;
    background-color:grey;

}
.rightside-container{
flex:3;
color:black;
}
#title{
    padding-top: 5%;
}
.name-container{
    background-color: rgb(255, 184, 3);
    height: 10%;
    text-align: center
}
.career-objective{
    padding-left : 48px;
}
.career-objective h4{
    margin-bottom: -1%;
}
.work-experience{
    margin-left : 40px;
    
}


.work-heading{
    margin-left : 40px;
    margin-bottom:1%;
    
}

.work-line {
    margin-left : 40px;
}

.experience-panel {
    display : flex;
}



.job-year{
margin-top :100px;
text-align: center;
flex:1;


}
.job-title-details{
    flex:3;

}
.work-experience h4{
    margin-bottom: -5%;
}
.software-skills{
    margin-bottom: -0.5%;
    margin-left : 40px;
}
.software-skill-container{
    display:flex;
}
.first-after-space{
    flex:1;
    margin-right: 10%;
    margin-left: 5%;
}
.second-after-space{
    flex:1;
}
.main-div-outside{
    display: flex;
}

.inner{
flex:3;
background-color: grey;
width:5px ;
height:3px
}
.outer{
flex:1;
background-color: black;
width:50px ;
height:3px
}


.main-phone {
    display : flex;
}
.main-email{
    display:flex;
}
.main-website{
    display:flex;
}
.main-address{
    display:flex;
}

.yellow {
flex : 1;
background-color:  rgb(255, 184, 3);
height : 10px;
}

